spring:
  datasource:
    url: 'jdbc:postgresql://${DB_SERVER}/${DB_NAME}?sslmode=prefer'
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_schema: ccw
  sql:
    init:
      mode: always
      schema-locations: classpath:ccw-database-schema.sql
      data-locations: classpath:ccw-database-data.sql